.task {
    padding: 1em;
    display: flex;
    align-items: center;
}

.task .checkbox {
    margin-right: .25em;
}

.task.completed .title {
    text-decoration: line-through;
}

.task.completed .title,
.task.completed .material-icons {
    color: lightgray;
}

.task input {
    flex: 1;
    margin-right: 1rem;
}

.task .actions {
    margin-left: auto;
    opacity: 0;
    transition: all .2s;
}

.task:hover .actions {
    opacity: 1;
}