<div class="task" [class.completed]="task.completed">
    <button class="checkbox icon" (click)="toggleTask()">
        <i class="material-icons">
            {{ task.completed ? 'check_box' : 'check_box_outline_blank' }}
        </i>
    </button>

    <span class="title">{{ task.title }}</span>

    <div class="actions">
        <button class="delete icon" (click)="deleteTask()">
            <i class="material-icons">delete</i>
        </button>
    </div>
</div>