<form class="todo-form" (ngSubmit)="createTask(); todoForm.reset()" #todoForm="ngForm">
    <input type="text" name="title" [(ngModel)]="newTaskTitle" placeholder="Task:" required>
    <button type="submit" [disabled]="todoForm.form.invalid">Add</button>
</form>